@page
@model Dental_Surgery.Pages.Admin2.Appointments.IndexModel

@{
    ViewData["Title"] = "Appointments";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Appointments</h2>
        <a asp-page="/Receptionist/Index" class="btn btn-primary">Create New Appointment</a>
    </div>

    <table class="table table-striped table-bordered table-white">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Appointment[0].AppointmentDate)</th>
                <th>@Html.DisplayNameFor(model => model.Appointment[0].Notes)</th>
                <th>@Html.DisplayNameFor(model => model.Appointment[0].attend)</th>
                <th>Dentist</th>
                <th>Patient</th>
                <th>Treatment</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointment)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                    <td>@Html.DisplayFor(modelItem => item.attend)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dentist.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Patient.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Treatment.Description)</td>
                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-info">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.AppointmentId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
