@page
@model Dental_Surgery.Pages.Admin2.Dentists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Dentists</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].AwardingBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentist[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dentist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardingBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <img src="/@Url.Content(item.Image)" alt="Dentist Photo" style="max-height:100px; width:auto;"/>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DentistId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DentistId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DentistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
