@page
@model Dental_Surgery.Pages.Admin2.Patients.DetailsModel

@{
    ViewData["Title"] = "Patient Details";
}

<div class="container mt-5">
    <h2 class="mb-4">Patient Detials</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
            <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.PPS)
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.PPS)
            </dd>
            <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.FirstName)
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.FirstName)
            </dd>
            <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.LastName)
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.LastName)
            </dd>
            <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.ContactNumber)
            </dt>
                <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.ContactNumber)
            </dd>
                <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.Email)
            </dt>
                <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.Email)
            </dd>
                <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.Address)
            </dt>
                <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.Address)
            </dd>
                <dt class="col-md-3 text-muted">
                @Html.DisplayNameFor(model => model.Patient.DateOfBirth)
            </dt>
                <dd class="col-md-9">
                @Html.DisplayFor(model => model.Patient.DateOfBirth)
            </dd>
            </dl>

        </div>
        <div class="card-footer text-end">
            <a asp-page="./Edit" asp-route-id="@Model.Patient.PatientId" class="btn btn-primary">Edit</a>
            <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
        </div>
        
    </div>
</div>
